.lighting-demo .house-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 404px;
  width: 484px;
  margin: 3rem auto;
}
.lighting-demo .house-container.active {
  box-shadow: 0 0 10px pink;
  border: 2px solid pink;
}
.lighting-demo .house {
  width: 480px;
  height: 400px;
}
.lighting-demo .house .room {
  fill: white;
  stroke: black;
  stroke-width: 4.8px;
}
.lighting-demo .house .lights {
  fill: none;
  stroke: none;
}
.lighting-demo #living-room.on {
  fill: url(#livingRoomGradient);
}
.lighting-demo #bedroom.on {
  fill: url(#bed roomGradient);
}
.lighting-demo #bathroom.on {
  fill: url(#bathroomGradient);
}
.lighting-demo #hallway.on {
  fill: url(#hallwayGradient);
}
.lighting-demo #kitchen.on {
  fill: url(#kitchenGradient);
}
.lighting-demo #closet.on {
  fill: url(#closetGradient);
}
.lighting-demo #pantry.on {
  fill: url(#pantryGradient);
}
.lighting-demo #outer-wall {
  stroke: black;
  stroke-width: 4.8px;
  fill: white;
}
