
.house-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 404px;
  width: 484px;
  margin: 3rem auto;
}

.house-container .active {
    box-shadow: 0 0 10px pink;
    border: 2px solid pink;
  }

.house {
  width: 480px;
  height: 400px;
}

.room {
  fill: white;
  stroke: black;
  stroke-width: 4.8px;
}

.lights {
  fill: none;
  stroke: none;
}

#living-room.on {
  fill: url(#livingRoomGradient);

}

#bedroom.on {
  fill: url(#bedroomGradient);
}

#bathroom.on {
  fill: url(#bathroomGradient);
}

#hallway.on {
  fill: url(#hallwayGradient);
}

#kitchen.on {
  fill: url(#kitchenGradient);
}

#closet.on {
  fill: url(#closetGradient);
}

#pantry.on {
  fill: url(#pantryGradient);
}

#outer-wall {
  stroke: black;
  stroke-width: 4.8px;
  fill: white;
}