*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/rhino/build
/captures
.externalNativeBuild
test_resources/audio_samples
test_resources/model_files
context_files/coffee_maker_android.rhn
context_files/coffee_maker_linux.rhn