[submodule "binding/unity/Assets/Rhino/VoiceProcessor"]
	path = binding/unity/Assets/Rhino/VoiceProcessor
	url = ../unity-voice-processor.git
[submodule "demo/c/miniaudio"]
	path = demo/c/miniaudio
	url = ../../mackron/miniaudio.git
