h1 {
  text-align: center;
}

strong {
  color: darkblue;
}

.lighting-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.side-panel {
  width: 400px;
  margin: 0rem 5rem;
}

.side-panel .instructions {
  border: dashed 2px darkgrey;
  border-radius: 1rem;
  width: 80%;
  text-align: center;
  padding: 0.5rem 0.5rem;
  margin: 1rem auto;
  background: #f9f9f9;
}

.side-panel .instructions .badge {
  border-radius: 0.2rem;
  display: inline-block;
  padding: 0.1rem 0.4rem;
  margin: 0.4rem;
}

#demo-button {
  background-color: #377dff;
  padding: 0.8rem 2rem;
  color: white;
  border: none;
  border-radius: 0.4rem;
  display: block;
  margin: 1rem auto;
}

.house-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 404px;
  width: 484px;
  margin: 3rem auto;
}
.house-container.active {
  box-shadow: 0 0 10px pink;
  border: 2px solid pink;
}

.house {
  width: 480px;
  height: 400px;
}
.house .room {
  fill: white;
  stroke: black;
  stroke-width: 4.8px;
}
.house .lights {
  fill: none;
  stroke: none;
}
#living-room.on {
  fill: url(#livingRoomGradient);
}
#bedroom.on {
  fill: url(#bedroomGradient);
}
#bathroom.on {
  fill: url(#bathroomGradient);
}
#hallway.on {
  fill: url(#hallwayGradient);
}
#kitchen.on {
  fill: url(#kitchenGradient);
}
#closet.on {
  fill: url(#closetGradient);
}
#pantry.on {
  fill: url(#pantryGradient);
}
#outer-wall {
  stroke: black;
  stroke-width: 4.8px;
  fill: white;
}

.alerts-container{
  height: 150px;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.progress-indicator {
  text-align: center;
}

.progress-indicator .spinner {
  margin: auto;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border-top: 0.3rem solid black;
  border-right: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
  border-left: 0.3rem solid transparent;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.progress-indicator .spinner.initializing {
  border-top: 0.3rem solid red;
  border-right: 0.3rem solid red;
  border-bottom: 0.3rem solid red;
}

.progress-indicator .spinner.wakephrase {
  border-top: 0.3rem solid darkorange;
  border-right: 0.3rem solid darkorange;
  border-bottom: 0.3rem solid darkorange;
}

.progress-indicator .spinner.command {
  border-top: 0.3rem solid green;
  border-right: 0.3rem solid green;
  border-bottom: 0.3rem solid green;
}

.message{
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .lighting-demo {
    display: block;
  }
  .side-panel {
    margin: auto;
  }
  .house-container {
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .house-container {
    width: 254px;
    height: 212.3px;
    margin: 2rem auto;
  }

  .house {
    width: 250px;
    height: 208.3px;
  }
}
