name: rhino_flutter
description: A Flutter plugin for Picovoice's Rhino Speech-to-Intent engine
version: 4.0.0
homepage: https://picovoice.ai/
repository: https://github.com/Picovoice/rhino/
documentation: https://picovoice.ai/docs/rhino/

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  path_provider: ^2.0.9
  flutter:
    sdk: flutter

  flutter_voice_processor: ^1.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  lints: ^1.0.1

flutter:
  plugin:
    platforms:
      android:
        package: ai.picovoice.flutter.rhino
        pluginClass: RhinoPlugin
      ios:
        pluginClass: RhinoPlugin
