<div class="voice-widget">
  <h1>VoiceWidget</h1>
    <h3>
    <label>
      AccessKey obtained from
      <a href="https://picovoice.ai/console/">Picovoice Console</a>:
      <input
        type="text"
        name="accessKey"
        [disabled]="isLoaded"
        #accessKey
      />
    </label>
    <button class="start-button" (click)="rhnInit(accessKey.value)" [disabled]="isLoaded">
      Init Rhino
    </button>
  </h3>
  <h3>Rhino Loaded: {{ isLoaded }}</h3>
  <h3>Listening: {{ isListening }}</h3>
  <h3>Error: {{ error !== null }}</h3>
  <p class="error-message" *ngIf="error !== null">{{ error }}</p>
  <br />
  <button (click)="rhnProcess()" [disabled]="error !== null || isListening || !isLoaded">Process</button>
  <button (click)="rhnRelease()" [disabled]="error !== null || isListening || !isLoaded">Release</button>
  <h3>Inference:</h3>
  <pre *ngIf="inference !== null">{{ inference | json }}</pre>
  <hr />
  <h3>Context Info:</h3>
  <pre>{{ contextInfo }}</pre>
</div>
