<div class="voice-widget">
  <h1>VoiceWidget</h1>
    <h3>
    <label>
      AccessKey obtained from
      <a href="https://picovoice.ai/console/">Picovoice Console</a>:
      <input
        type="text"
        name="accessKey"
        [disabled]="isLoaded"
        #accessKey
        (input)="initEngine(accessKey.value)"
      />
    </label>
  </h3>
  <h3>Dynamic Import Loaded: {{ isChunkLoaded }}</h3>
  <h3>Rhino Loaded: {{ isLoaded }}</h3>
  <h3>Listening: {{ isListening }}</h3>
  <h3>Error: {{ isError }}</h3>
  <p class="error-message" *ngIf="isError">{{ errorMessage }}</p>
  <h3>Talking: {{ isTalking }}</h3>

  <br />
  <button (click)="start()" [disabled]="isError || isListening || !isLoaded">Start</button>
  <button (click)="pause()" [disabled]="isError || !isListening || !isLoaded">Pause</button>
  <button (click)="stop()" [disabled]="isError || !isListening || !isLoaded">Stop</button>
  <button
    (click)="pushToTalk()"
    [disabled]="isError || !isListening || isTalking || !isLoaded"
  >
    Push to Talk
  </button>
  <h3>Inference:</h3>
  <pre *ngIf="inference !== null">{{ inference | json }}</pre>
  <hr />
  <h3>Context Info:</h3>
  <pre>{{ contextInfo }}</pre>
</div>
