name: Go

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'binding/go/**'
      - '!binding/go/README.md'
      - 'lib/common/**'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'resources/.test/**'
      - 'resources/audio_samples/**'
      - 'resources/contexts*/linux/**'
      - 'resources/contexts*/mac/**'
      - 'resources/contexts*/raspberry-pi/**'
      - 'resources/contexts*/windows/**'
      - '.github/workflows/go.yml'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - 'binding/go/**'
      - '!binding/go/README.md'
      - 'lib/common/**'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'resources/.test/**'
      - 'resources/audio_samples/**'
      - 'resources/contexts*/linux/**'
      - 'resources/contexts*/mac/**'
      - 'resources/contexts*/raspberry-pi/**'
      - 'resources/contexts*/windows/**'
      - '.github/workflows/go.yml'

defaults:
  run:
    working-directory: binding/go

jobs:
  build-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go: [ '1.16', '1.17', '1.18', '1.19', '1.20' ]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Mingw
      uses: egor-tensin/setup-mingw@v2
      if: ${{ (matrix.os == 'windows-latest') && (matrix.go != 'stable') && (matrix.go < 1.20) }}
      with:
        version: 11.2.0

    - name: Setup go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go }}

    - name: Pre-build dependencies
      run: ./copy.sh

    - name: Install dependencies
      run: go install

    - name: Build
      run: go build

    - name: Test
      run: go test -v -access_key ${{secrets.PV_VALID_ACCESS_KEY}}

  build-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      matrix:
        machine: [rpi3-32, rpi3-64, rpi4-32, rpi4-64, rpi5-64]

    steps:
    - uses: actions/checkout@v3

    - name: Pre-build dependencies
      run: ./copy.sh

    - name: Install dependencies
      run: go install

    - name: Build
      run: go build

    - name: Test
      run: go test -v -access_key ${{secrets.PV_VALID_ACCESS_KEY}}
