name: Nodejs

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/nodejs.yml'
      - 'binding/nodejs/**'
      - '!binding/nodejs/README.md'
      - 'lib/common/**'
      - 'lib/node/**'
      - 'resources/audio_samples/**'
      - 'resources/contexts*/linux/**'
      - 'resources/contexts*/mac/**'
      - 'resources/contexts*/raspberry-pi/**'
      - 'resources/contexts*/windows/**'
      - 'resources/.test/**'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/nodejs.yml'
      - 'binding/nodejs/**'
      - '!binding/nodejs/README.md'
      - 'lib/common/**'
      - 'lib/node/**'
      - 'resources/audio_samples/**'
      - 'resources/contexts*/linux/**'
      - 'resources/contexts*/mac/**'
      - 'resources/contexts*/raspberry-pi/**'
      - 'resources/contexts*/windows/**'
      - 'resources/.test/**'

defaults:
  run:
    working-directory: binding/nodejs

jobs:
  build-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [16.x, 18.x, 20.x]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: yarn install

    - name: Test
      run: yarn test test/index.test.ts --access_key=${{secrets.PV_VALID_ACCESS_KEY}}

  build-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      matrix:
        machine: [rpi3-32, rpi3-64, rpi4-32, rpi4-64, rpi5-64]

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: yarn install

    - name: Test
      run: yarn test test/index.test.ts --access_key=${{secrets.PV_VALID_ACCESS_KEY}}
