name: Nodejs

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'binding/nodejs/**'
      - '!binding/nodejs/README.md'
      - 'lib/common/**'
      - 'lib/node/**'
      - 'resources/audio_samples/**'
      - 'resources/contexts*/beaglebone/**'
      - 'resources/contexts*/jetson/**'
      - 'resources/contexts*/linux/**'
      - 'resources/contexts*/mac/**'
      - 'resources/contexts*/raspberry-pi/**'
      - 'resources/contexts*/windows/**'
      - 'resources/test/**'
      - '.github/workflows/nodejs.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'binding/nodejs/**'
      - '!binding/nodejs/README.md'
      - 'lib/common/**'
      - 'lib/node/**'
      - 'resources/audio_samples/**'
      - 'resources/contexts*/beaglebone/**'
      - 'resources/contexts*/jetson/**'
      - 'resources/contexts*/linux/**'
      - 'resources/contexts*/mac/**'
      - 'resources/contexts*/raspberry-pi/**'
      - 'resources/contexts*/windows/**'
      - 'resources/test/**'
      - '.github/workflows/nodejs.yml'

defaults:
  run:
    working-directory: binding/nodejs

jobs:
  build-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Pre-build dependencies
      run: npm install yarn

    - name: Install dependencies
      run: yarn install

    - name: Test
      run: yarn test test/index.test.ts --access_key=${{secrets.PV_VALID_ACCESS_KEY}}

  build-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      matrix:
        machine: [rpi2, rpi3-32, rpi3-64, rpi4-32, rpi4-64, jetson, beaglebone]

    steps:
    - uses: actions/checkout@v2

    - name: Pre-build dependencies
      run: npm install --global yarn

    - name: Install dependencies
      run: yarn install

    - name: Test
      run: yarn test test/index.test.ts --access_key=${{secrets.PV_VALID_ACCESS_KEY}}
