name: Python Performance

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'lib/common/**'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'resources/contexts/linux/**'
      - 'resources/contexts/mac/**'
      - 'resources/contexts/raspberry-pi/**'
      - 'resources/contexts/windows/**'
      - '.github/workflows/python-perf.yml'
      - 'binding/python/test_rhino_perf.py'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - 'lib/common/**'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'resources/contexts/linux/**'
      - 'resources/contexts/mac/**'
      - 'resources/contexts/raspberry-pi/**'
      - 'resources/contexts/windows/**'
      - '.github/workflows/python-perf.yml'
      - 'binding/python/test_rhino_perf.py'

defaults:
  run:
    working-directory: binding/python

jobs:
  perf-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
        - os: ubuntu-latest
          performance_threshold_sec: 0.2
        - os: windows-latest
          performance_threshold_sec: 0.2
        - os: macos-latest
          performance_threshold_sec: 0.25

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python '3.10'
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Test
      run: python test_rhino_perf.py ${{secrets.PV_VALID_ACCESS_KEY}} 100 ${{matrix.performance_threshold_sec}}

  perf-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      fail-fast: false
      matrix:
        machine: [rpi3-32, rpi3-64, rpi4-32, rpi4-64, rpi5-64]
        include:
        - machine: rpi3-32
          num_test_iterations: 50
          performance_threshold_sec: 0.72
        - machine: rpi3-64
          num_test_iterations: 50
          performance_threshold_sec: 0.82
        - machine: rpi4-32
          num_test_iterations: 50
          performance_threshold_sec: 0.4
        - machine: rpi4-64
          num_test_iterations: 50
          performance_threshold_sec: 0.4
        - machine: rpi5-64
          num_test_iterations: 50
          performance_threshold_sec: 0.1

    steps:
    - uses: actions/checkout@v3

    - name: Machine state before
      working-directory: resources/scripts
      run: bash machine-state.sh

    - name: Test
      run: python3 test_rhino_perf.py ${{secrets.PV_VALID_ACCESS_KEY}} ${{matrix.num_test_iterations}} ${{matrix.performance_threshold_sec}}

    - name: Machine state after
      working-directory: resources/scripts
      run: bash machine-state.sh
